.trans {
  display: block;
  width: 210px;

}

.saved-massage {
  width: 40px; 
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  background-image: url(../img/massage.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.nav-xxl.active .trans {
  color: #fff;
}

.trans {
  color: black;
}

.times {
  color: rgb(100, 97, 97);
}

.nav-xxl.active .times {
  color: #fff;
}

.sms {
  background-color: lightskyblue;
  color: #fff;
}

.nav-xxl.active .sms {
  background-color: linen;
  color: black;
}

.modal.modal .style-modal {
  width: 0;
  height: 100%;
  transition: width 0.8s ease;
  transform: translate(0);
}

.modal.modal.show .style-modal {
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

                  
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
                  
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.massagesin {
  position: relative;
  max-width: 600px;
  background-color: #fff;
}


.chat:nth-child(odd) {
  justify-content: flex-start;
}

.chat:nth-child(odd) .massagesin::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.chat:nth-child(even) .massagesin::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  border: 10px solid transparent;
  border-bottom: 10px solid lightskyblue;
}

.chat:nth-child(even) {
  transform: rotateY(180deg);
}

.chat:nth-child(even) .massagesin {
  transform: rotateY(180deg);
  background-color: lightskyblue;
}

.chat:nth-child(even) .massagesin h6 {
  text-align: right;
  width: 100%;
}

.menu-collapse {
  transform: rotate(0);
  transition: transform 0.4s ease;
}

.collapsed .menu-collapse {
  transform: rotate(-180deg);
}